.App-header{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 25px;
  align-items: center;
  background: linear-gradient(to bottom, #ad5389, #3c1053);
  color: white;
}
select,
button{
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  background: rgb(110, 59, 107);
  color: white;
  border-radius: 50px;
  cursor: pointer;
}